.side-bar {
    z-index: 30;
    background-color: #292f4c;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: auto;
    height: 100vh;
    min-width: 4.125rem;
    justify-items: center;

    .actions-top {
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 10px;
    }

    .actions-bottom {
        margin-bottom: 10px;
        grid-row: 8/10;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }
    .user-profile-modal {
        position: fixed;
        display: none;
        // top: 50%;
        // left: 50%;
        bottom: 3%;
        left: 7%;
        border-radius: 4px;
        // transform: translate(-50%,-50%);
        background-color: #ffffff;
        box-shadow: 0px 0px 4px 0px #000000;
        padding: 2rem;
        &.open {
            display: block;
        }
        > * {
            text-align: center;
        }
        .fa-solid.times {
            position: absolute;
            right: 4%;
            top: 0;
            cursor: pointer;
        }
        .profile-flex-container{
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            button{
                width: fit-content;
                border-radius: 6px;
                background-color: #0073ea;
                border: none;
                padding: 0.5rem 1rem 0.5rem;
                color: white;
                cursor: pointer;
            }
        }
        .profile-img-container {
            img {
                height: 6rem;
                width: 6rem;
                border-radius: 50%;
            }
        }
    }
}

.actions-top button,
.actions-bottom button {
    background-color: #292f4c;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    height: 36px;
    cursor: not-allowed;
    width: 36px;
    border: none;
    padding-top: 5px;

    &:hover {
        background-color: #121529;
    }
}
.logout-icon {
    cursor: pointer;
}

.actions-top .workspace {
    background-color: #6a6e82;
    &:hover {
        background-color: #6a6e82;
    }
}

.see-plans {
    background-color: #258750;
    width: 126px;
    height: 3.3rem;
    color: white;
    position: absolute;
    top: 53%;
    transform: rotate(270deg) translate(50%);
    // transform: translate(0,-50%);
    left: -55px;
    line-height: 3.8rem;
    font-size: 15px;
    transition: 0.2s ease;

    .stars-icon {
        transform: rotate(225deg);
        font-size: 15px;
        margin-inline-end: 5px;
    }
    &:hover {
        left: -50px;
        background-color: #007038;
    }
}

.actions-top .logo-btn {
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.actions-top .logo-btn img {
    height: 32px;
    width: 20px;
}

.actions-bottom {
    .user-initials {
        border-radius: 50%;
        background-color: hotpink;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
        vertical-align: middle;
        letter-spacing: 1px;
        border: 1px solid white;
        width: 44px;
        height: 44px;
        display: grid;
        place-items: center;
        cursor: pointer;

    }
    img {
        width: 44px;
        height: 44px;
        border: 1px solid white;
        border-radius: 50%;
        cursor: pointer;
    }
}

