* {
    box-sizing: border-box;
}


html {
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    color: $clr5;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit
}

button {
    font-family: inherit;
    height: unset;
}