.due-date-sum,
.due-date-container {
    width: 140px;
    height: inherit;
    padding: 5.5px;
    background-color: inherit;
    border: 1px solid #fff;
    border-top: #c4c4c4;
    border-bottom: #c4c4c4;
    
    &:hover {
        input {
            border: 1px dashed #c4c4c4;
        }
    }

    input {
        width: inherit;
        border: none; 
        background-color: inherit;
        color: #666;
        text-align: center;
        height: 25px;
        
        &:hover {
            border: 1px dashed #c4c4c4;
        }
        
        &:focus {
            border: 1px dashed #c4c4c4;
            outline: none;
            background-color: #fff;
        }
    }
}
