.react-datepicker-wrapper {
	width: unset;
}

// .timeline {
// 	min-width: 180px;
// 	padding: .4rem;
// 	text-align: center;
// 	height: 1.5rem;

// 	input {
// 		height: 1.5rem;
// 		background-color: #c4c4c4;
// 		border: none;
// 		text-align: center;
// 		border-radius: 25px;
// 	};

// 	&:hover {
// 		input {
// 			background-color: #666;
// 		}
// 	}
// }

// .num-of-days {
// 	width: 180px;
// 	padding: .4rem;
// 	height: 1.5rem;
// 	text-align: center;
// 	border-radius: 25px;
// 	background-color: #666;
// }

.story {
	.timeline {
		border: 1px solid #fff;
		border-top: #c4c4c4;
		border-bottom: #c4c4c4;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-basis: 180px;
		min-width: 180px;
		// height: fit-content;
		font-size: 0.8125rem;

		.date-pick-wrapper {
			display: flex;
		}

		.date-picker-cmp,
		.date-picker,
		.no-date,
		.set-dates,
		.num-of-days {
			width: 152px;
			font-size: 13px;
			// display: inline-block;
			padding: 1.25px 5.25px;
			border: none;
			background-color: #c4c4c4;
			color: white;
			height: 22px;
			line-height: 22px;
			border-radius: 25px;
			margin: 0 auto;
			cursor: pointer;
            text-align: center;
            caret-color: transparent;

            &:focus {
                outline: none;
            }
		}

			
        .date-picker-cmp {
			height: 22px;
			border-radius: 25px;
			text-align: center;
			padding: 1.7px 5px 0 0;

            &::placeholder {
                color: #fff;
            }
        }

		.date-picker-container {
			width: 152px;
			height: 22px;
			border-radius: 25px;
			position: relative;
			// height: fit-content;

			.date-picker-cmp {
				width: 152px;
				background-color: transparent;
				position: absolute;
				top: -38px;
				right: -78px;
			}

			.progress-bar {
				position: absolute;
				height: inherit;
				border-radius: 25px;
				.date-picker-cmp {
					margin-top: 5px;
				}
			}

			.grey-bck {
				width: 152px;
				height: 22px;
				background-color: #323338;
				border-radius: 25px;
			}
		}

		// .date-picker-pos {
		// 	transform: translate(-45px, 20px) !important;
		// }
	}
}
